<div id="wrapper">

	<div id="shameless-plug">
		<span id="plug-header">login</span><br/>
		<span id="plug-body">Chris Higgins<br/><a href="https://github.com/C-Higgins/Go">Github</a></span>
	</div>
	<%= form_for(:session, url: login_path) do |f| %>
		<%= f.label :name %>
		<%= f.text_field :name %>

		<%= f.label :password %>
		<%= f.password_field :password %>

		<%= f.submit "Log in" %>
	<% end %>
</div>