<div id="wrapper">

	<div id="side-header-container" class="float">
		<span id="plug-header">signup</span>
	</div>
	<div id="form-container">
		<%= form_for(@player, url: signup_path) do |f| %>
			<%= render 'shared/error_messages' %>

			<%= f.text_field :name, class: 'text-field', placeholder: 'Username' %>
			<%= f.password_field :password, class: 'text-field', placeholder: 'Password' %>
			<%= f.password_field :password_confirmation, class: 'text-field', placeholder: 'Confirm Password' %>

			<%= f.submit "Go", class: 'submit-button' %>
		<% end -%>
	</div>
</div>