<nav>
	<div class = navTopItem>
		<%= link_to('Home', root_path) %>
		<div class = 'navSubItems'>
			<%= link_to('Sublink 1', '#') %>
		</div>
	</div>
	<div class = navTopItem>
		<%= link_to('New Game', new_game_path) %>
	</div>
	<% unless current_user %>
		<div class = navTopItem>
			<%= link_to('Signup', signup_path) %>
		</div>
		<div class = navTopItem>
			<%= link_to('Login', login_path) %>
		</div>
	<% else %>
		<div class = navTopItem>
			<%= link_to('Logout', logout_path, method: 'delete') %>
		</div>
	<% end -%>
</nav>


















