<nav>
	<div class = navTopItem>
    Home
    <%= link_to root_path do %>
        <span></span>
    <% end %>
		<div class = 'navSubItems'>
      <%= link_to 'Sublink 1', '#' %>
		</div>
	</div>
	<div class = navTopItem>
    New Game
    <%= link_to new_game_path do %>
        <span></span>
    <% end %>
	</div>
	<% unless current_user %>
		<div class = navTopItem>
      Signup
      <%= link_to signup_path do %>
          <span></span>
      <% end %>
		</div>
		<div class = navTopItem>
      Login
      <%= link_to login_path do %>
          <span></span>
      <% end %>
		</div>
	<% else %>
		<div class = navTopItem>
      Logout
      <%= link_to logout_path, method: 'delete' do %>
          <span></span>
      <% end %>
		</div>
      <div class="navTopItem navRight">
        <%= current_user.name %>
        <%= link_to current_user do %>
            <span></span>
        <% end %>
			<div class = 'navSubItems'>
        <%= link_to 'Edit profile', settings_path %>
			</div>
		</div>

	<% end -%>
</nav>


















